@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: oklch(0.28 0.05 130);
  --color-secondary: oklch(0.4 0.06 125);
  --color-accent: oklch(0.55 0.09 120);

  --color-base-100: oklch(0.88 0.06 95);
  --color-base-200: oklch(0.85 0.05 95);
  --color-base-300: oklch(0.92 0.02 100);

  --color-neutral: oklch(0.18 0.04 150);

  --color-primary-content: oklch(0.45 0.18 35);
}

@layer base {
  html {
    font-family: "Playfair Display", serif;
    font-size: clamp(16.5px, 1.3vw, 20px);
  }
}

/* @layer utilities {
  .font-Playfair {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
  }
} */
